<section id="sec">
    <div class="container-fluid bg-dark" style="padding: 8px;">

        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center mt-4">About Us</h3>
                <hr style="border:0.5px solid white;">
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-sm-6 pl-5">
                    <h3>Welcome to SMS</h3>
                    <p style="text-align: justify;">PROACSCENT Business Solutions Pvt Ltd
                        #1, 2nd Floor, M.C Plaza, <br> 1st Cross, 1st Main GANGANAGAR, R.T.Nagar Post Loc: Above Cake <br> Palace,
                        Banglore, Karnataka 560032...</p>

                        <h4 class="mt-5">Follow Us</h4>
                        <div class="icons">
                       <div class="hr mb-5"><hr style="border:1px solid white"></div>

                       <i class="fa fa-facebook text-primary"  routerLink="/"  style="font-size:20px;"></i>
                       <i class="fa fa-whatsapp text-success"  routerLink="/" style="font-size:20px;"></i>
                       <i class="fa fa-twitter text-primary"  routerLink="/"  style="font-size:20px;"></i>
                       <i class="fa fa-google-plus text-danger" routerLink="/"  style="font-size:20px;"></i>
                       <i class="fa fa-instagram text-danger"  routerLink="/"  style="font-size:20px;"></i>

</div>

                </div>
                <div class="col-sm-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.1968637432797!2d77.58319391557842!3d13.023132117267263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17b5d96fe3b3%3A0xed2f26ef86e89578!2sPROACSCENT%20Business%20Solutions%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1582021472013!5m2!1sen!2sin"
                        width="750" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h6 class="text-center mt-5">@Copyright Proacscent globalbuisness solution <br>
            india pvt ltd...
            </h6>

        </div>
    </div>
</div>
    </div>
</section>