<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h5 class="sms">School Management School</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Teacher Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/teacher">Log Out</a>
            </li>

        </ul>
    </div>
</nav>
<section id="sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center" style="color: white;margin-top: 12%;">School Management system</h1>
            </div>
        </div>
    </div>
</section>



<!-- dashboard -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center mt-5">Dash Board</h3>
                <hr style="border:0.8px solid black;    width: 40%;
        ">
            </div>
        </div>
    </div>

    <div class="container">
        <mat-tab-group class="mt-5">
            <mat-tab label="Handled Class">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">

                            <h3 class="text-center mt-5">Add Handled Classes </h3>

                        </div>
                        <div class="col-sm-6">
                            <h3 class="text-center mt-5"> Details</h3>

                        </div>
                    </div>

                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <form>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Class</mat-label>
                                            <input matInput placeholder="Enter Class Name" type="number">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Subject</mat-label>
                                            <input matInput placeholder="Enter Subject Name" type="text">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Section</mat-label>
                                            <input matInput placeholder="Enter Section" type="number">
                                        </mat-form-field>
                                        <button mat-raised-button color="primary" class="btn-block"
                                            style="outline:none;">Add Details</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-4">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Class</th>
                                            <th scope="col">Subject</th>
                                            <th scope="col">Section</th>

                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>Otto</td>

                                            <td><button mat-raised-button color="warn"
                                                    style="outline:none;">Delete</button>
                                        </tr>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>Otto</td>

                                            <td><button mat-raised-button color="warn"
                                                    style="outline:none;">Delete</button>
                                        </tr>
                                        <tr>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>Otto</td>

                                            <td><button mat-raised-button color="warn"
                                                    style="outline:none;">Delete</button>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Students">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="text-center mt-5">Add Student Details</h3>
                        </div>
                    </div>


                </div>





                <div class="container  mt-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Student Id</mat-label>
                                                <input matInput placeholder="Enter Student Id" type="number">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Student Name</mat-label>
                                                <input matInput placeholder="Enter Student Name" type="text">
                                            </mat-form-field>

                                            <mat-form-field class="example-full-width">
                                                <mat-label>Father Name</mat-label>
                                                <input matInput placeholder="Enter Father Name" type="text">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Mother Name</mat-label>
                                                <input matInput placeholder="Enter Mother Name" type="text">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Class</mat-label>
                                                <input matInput placeholder="Enter >Class Name" type="number">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Gender</mat-label>
                                                <mat-select>
                                                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                                        {{gender.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Date</mat-label>
                                                <input matInput [matDatepicker]="picker3">
                                                <mat-datepicker-toggle matSuffix [for]="picker3">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker3></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Phone Number</mat-label>
                                                <input matInput placeholder="Enter Phone Number" type="number">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Father Mail Id</mat-label>
                                                <input matInput placeholder="Enter Father @Mail Id" type="email">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Mother mail Id</mat-label>
                                                <input matInput placeholder="Enter Mother  @Mail Id" type="email">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Section</mat-label>
                                                <input matInput placeholder="Enter Section" type="text">
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Address</mat-label>
                                                <textarea matInput placeholder="Enter Your Address"></textarea>
                                            </mat-form-field>

                                            Browse
                                        </div>
                                    </div>

                                </div>
                                <div class="text-center mt-4"><button mat-raised-button color="primary" routerLink="/"
                                        class="btn-block" style="font-size: 18px;">Add Student
                                        Details</button>
                                </div>

                            </div>


                        </div>


                    </div>

                </div>




            </mat-tab>
            <mat-tab label="View Students">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="text-center mt-5">View Student Details</h3>

                        </div>
                    </div>
                    <div class="container-fluid">

                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">S.Id</th>
                                    <th scope="col">S.Name</th>
                                    <th scope="col">F.Name</th>
                                    <th scope="col">M.Name</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">P.Number</th>
                                    <th scope="col">F. Mail</th>
                                    <th scope="col">M. Mail</th>
                                    <th scope="col">Section</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">D.O.B</th>

                                    <th scope="col">Image</th>
                                    <th scope="col">Delete</th>



                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>Otto</td>

                                    <td>@mdo</td>
                                    <td><button mat-raised-button color="warn" style="outline:none;">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>Otto</td>

                                    <td>@fat</td>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td><button mat-raised-button color="warn" style="outline:none;">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>Otto</td>

                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td><button mat-raised-button color="warn" style="outline:none;">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-tab>


            <mat-tab label="Add Marks">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="text-center mt-5">Add Marks</h3>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="text-center mt-5">View Details</h3>
                        </div>

                    </div>
                    <div class="container-fluid mt-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <form>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Student Id</mat-label>
                                            <input matInput placeholder="Enter Student Id" type="number">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Student Name</mat-label>
                                            <input matInput placeholder="Enter Student Name" type="number">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Class</mat-label>
                                            <input matInput placeholder="Enter Class" type="number">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Section</mat-label>
                                            <input matInput placeholder="Enter Section" type="text">
                                        </mat-form-field>

                                        <mat-form-field class="example-full-width">
                                            <mat-label>marks</mat-label>
                                            <input matInput placeholder="Enter marks" type="number">
                                        </mat-form-field>


                                        <button mat-raised-button color="primary" class="btn-block"
                                            style="outline:none;">Add Marks</button>
                                    </form>

                                </div>


                            </div>
                            <div class="col-sm-6">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Std.Id</th>
                                            <th scope="col">Std.Name</th>
                                            <th scope="col">Class</th>
                                            <th scope="col">Section</th>
                                            <th scope="col">Marks</th>
                                            <th scope="col">Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td><button mat-raised-button color="warn"
                                                    style="outline:none;">Delete</button></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            <td>@mdo</td>
                                            <td><button mat-raised-button color="warn"
                                                    style="outline:none;">Delete</button></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                            <td>@mdo</td>
                                            <td><button mat-raised-button color="warn"
                                                    style="outline:none;">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Student Result">


            </mat-tab>
            <mat-tab label="Attendence">


            </mat-tab>
            <mat-tab label="Notification">


            </mat-tab>

            <mat-tab label="Settings">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="text-center mt-5">Change Password</h3>
                        </div>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <form>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Old Password</mat-label>
                                        <input matInput placeholder="Enter Serial Number" type="number">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>New Password</mat-label>
                                        <input matInput placeholder="Enter Serial Number" type="number">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput placeholder="Enter Serial Number" type="number">
                                    </mat-form-field>
                                    <button mat-raised-button color="primary" class="btn-block"
                                        style="outline:none;">Change Password</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3>Here Teacher can change password from old to new password</h3>
                        </div>

                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>


    </div>
</section><br>
<!-- dashboard ends -->
<app-footer></app-footer>