
.navbar-light .navbar-nav .nav-link {
    color: black;
    padding: 10px!important;
    margin: 4px;
}





.navbar-light .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    display: block;
    background:black;
    transition: width .3s;
    height: 2px;
 
}

.navbar-light .navbar-nav .nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

.sms::after{

    content: '';
    width: 0;
    display: block;
    background:black;
    transition: width .3s;
    height: 2px;
    cursor: pointer;
}

.sms:hover::after{
    width: 100%;
    transition: width .3s;
}


.div{
    background-color: black;
    padding: 10px;
}

.card{

    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
    padding: 10px;
    // background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../../assets/kimberly-farmer-lUaaKCUANVI-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
}

h4 {
    color: black;

}

h6{
    color: black;
    cursor: pointer;
    outline: none;

}

#sec{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../assets/tim-mossholder-WE_Kv_ZB1l0-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    height: 45vh;
}


// .tabordion {
//     color: #333;
//     display: block;
//     font-family: arial, sans-serif;
//     margin: auto;
//     position: relative;
//     width: 80%;
//   }
  
//   .tabordion input[name="sections"] {
//     left: -9999px;
//     position: absolute;
//     top: -9999px;
//   }
  
//   .tabordion section {
//     display: block;
//   }
  
//   .tabordion section label {
//     background: #ccc;
//     border:1px solid #fff;
//     cursor: pointer;
//     display: block;
//     font-size: 1.2em;
//     font-weight: bold;
//     padding: 15px 20px;
//     position: relative;
//     width: 180px;
//     z-index:100;
//   }
  
//   .tabordion section article {
//     display: none;
//     left: 230px;
//     min-width: 300px;
//     padding: 0 0 0 21px;
//     position: absolute;  
//     top: 0;
//   }
  
//   .tabordion section article:after {
//     background-color: #ccc;
//     bottom: 0;
//     content: "";
//     display: block;
//     left:-229px;
//     position: absolute;
//     top: 0;
//     width: 220px;
//     z-index:1;
//   }
  
//   .tabordion input[name="sections"]:checked + label { 
//     background: #eee;
//     color: #bbb;
//   }
  
//   .tabordion input[name="sections"]:checked ~ article {
//     display: block;
//   }
  
  
//   @media (max-width: 533px) {
    
//     h1 {
//       width: 100%;
//     }
  
//     .tabordion {
//       width: 100%;
//     }
    
//     .tabordion section label {
//       font-size: 1em;
//       width: 160px;
//     }  
  
//    .tabordion section article {
//       left: 200px;
//       min-width: 270px;
//     } 
    
//     .tabordion section article:after {
//       background-color: #ccc;
//       bottom: 0;
//       content: "";
//       display: block;
//       left:-199px;
//       position: absolute;
//       top: 0;
//       width: 200px;
  
//     }  
    
//   }
  
  
//   @media (max-width: 768px) {
//     h1 {
//       width: 96%;
//     }
  
//     .tabordion {
//       width: 96%;
//     }
//   }
  
  
//   @media (min-width: 1366px) {
//     h1 {
//       width: 70%;
//       font-family: 'Coda Caption', sans-serif;

//     }
  
//     .tabordion {
//       width: 70%;
//     }
//   }
  
  
//   .div h4{
//     color: white;

  // }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  