.card{

    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
    padding: 22px;
}

#sec{
    background-image: url('../../assets/elizeu-dias-SEq9dyZSe6c-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 55vh;
}