<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h5 class="sms">School Management School</h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/">Welcome To Admin</a>
      </li>
  

    </ul>
  </div>
</nav>


<!-- headers ends -->
<section id="sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center" style="color: white;margin-top: 13%;">School Management system</h1>
      </div>
    </div>
  </div>
</section>

<section id="sec1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center mt-5">Contact Us</h3>
        <hr style="border:1px solid black;    width: 20%;
                " class="mb-3">

      </div>
    </div>
  </div>
<div class="container">
  <div class="row">

  <div class="col-sm-7 offset-2">
    <div class="card">
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>Fisrt Name</mat-label>
      <input matInput placeholder="Enter First Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Enter Last Name">
    </mat-form-field>
    

     <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter First Name" >
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Mobile</mat-label>
    <input matInput placeholder="Enter Mobile Number" type="number" >
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Message</mat-label>
    <textarea matInput placeholder="Type Your Message Here "></textarea>
  </mat-form-field>
 
    <button mat-raised-button  class="btn-block" color="primary" style="font-size: 18px;">Submit</button>
  </form>
  </div>
  </div>
  </div>
</div>
</section>



<br>
<app-footer></app-footer>