.card{

    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
    padding: 22px;
}

#sec{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../assets/fotografierende-333oj7zFsdg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 45vh;
}


.navbar-light .navbar-nav .nav-link {
    color: black;
    padding: 10px!important;
    margin: 4px;
}





.navbar-light .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    display: block;
    background:black;
    transition: width .3s;
    height: 2px;
 
}

.navbar-light .navbar-nav .nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

.sms::after{

    content: '';
    width: 0;
    display: block;
    background:black;
    transition: width .3s;
    height: 2px;
    cursor: pointer;
}

.sms:hover::after{
    width: 100%;
    transition: width .3s;
}

*{
    overflow: hidden;
}