.card{

    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
    padding: 22px;
}

#sec{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../../assets/jerry-wang-jfnUC7s3iuw-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}