

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center mt-1 mb-3">Register Here</h3>
      <hr style="border:1px solid black;width:35%">
    </div>
  </div>
  
  <div class="row">
    <form  [formGroup]="forms" >
    <div class="col-sm-12">
      
        <div class="container mt-4">
          <div class="row">
            <div class="col-sm-6">
          
              <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter Your Fisrt Name" type="text">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Mobile.No</mat-label>
                <input matInput placeholder="Enter Your Last Mobile Number" type="number">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Enter Your Address"></textarea>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Your Password" type="password">
              </mat-form-field>
          
          
            </div>
            <div class="col-sm-6">

              
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter Your Last Name" type="text">
              </mat-form-field>

                    <mat-form-field class="example-full-width">
                <mat-label>Telephone.No</mat-label>
                <input matInput placeholder="Enter Your Telephone Number" type="number">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Mail</mat-label>
                <input matInput placeholder="Enter Your  Email" type="email">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Enter Your  Comfirm Password" type="password">
              </mat-form-field>
            </div>
          </div>
         
        </div>
        <div class="text-center mt-4">
          <button mat-raised-button color="primary"  class="btn-block" (click)="Regi()">Register</button>
        </div>

      </div>


    

    </form>
  </div>

</div>
