.navbar-light .navbar-nav .nav-link {
    color: black;
    padding: 10px!important;
    margin: 4px;
}





.navbar-light .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    display: block;
    background:black;
    transition: width .3s;
    height: 2px;
 
}

.navbar-light .navbar-nav .nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

.sms::after{

    content: '';
    width: 0;
    display: block;
    background:black;
    transition: width .3s;
    height: 2px;
    cursor: pointer;
}

.sms:hover::after{
    width: 100%;
    transition: width .3s;
}



*{
    overflow: hidden;
}

// .div{
//     background: black;
//     color: white;
//     padding: 10px;
// }

.card{

    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
  }

  .div{
    background-color: black;
    padding: 10px;
}


.teach::after{

    content: '';
    width: 0%;
    margin-left: 42%;
    display: block;
    background:black;
    transition: width .3s;
    height: 2px;
    cursor: pointer;
}

.teach:hover::after{
    width: 16%;
    transition: width .3s;
}

.act::after{

    content: '';
    width: 0;
    margin-left: 42%;
    display: block;
    background:black;
    transition: width .3s;
    height: 2px;
    cursor: pointer;
}

.act:hover::after{
    width: 16%;
    transition: width .3s;
}

.tour::after{

    content: '';
    width: 0;
    margin-left: 42%;
    display: block;
    background:black;
    transition: width .3s;
    height: 2px;
    cursor: pointer;
}

.tour:hover::after{
    width: 16%;
    transition: width .3s;
}