<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h5 class="sms">School Management School</h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teacher">Teacher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parent">Parent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>

    </ul>
  </div>
</nav>
<section>
  <carousel>
    <slide>
      <img src="../../assets/alexis-brown-omeaHbEFlN4-unsplash (1).jpg" alt="first slide"
        style="display: block; width: 100%; height: 65vh!important;">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </slide>
    <slide>
      <img src="../../assets/tim-mossholder-WE_Kv_ZB1l0-unsplash (1).jpg" alt="second slide"
        style="display: block; width: 100%; height: 65vh!important; ">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </slide>
    <slide>
      <img src="../../assets/jamie-taylor--9C3TMXwQjQ-unsplash.jpg" alt="third slide"
        style="display: block; width: 100%; height: 65vh!important;">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </slide>
  </carousel>
</section>


<section>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center mt-4">Our Events</h3>
            <hr style="border: 1px solid black; width: 12%;">
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center mt-5 mb-3">TEACHING</h3>
    </div>
  </div>
</div>

<div class="container">
    <div class="row"data-aos="fade-down"data-aos-duration="1500">
        <div class="col-sm-6">
            <div class="card mt-5" >
                <img src="../../assets/room.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6 mt-5">
            <p style="text-align: justify;" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque
                voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque
                voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque
                voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet 
         
              
               </p>
        </div>


    </div>
   
</div>  <!-----taeching ends---->




<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center mt-5 mb-3">ACTIVITIES</h3>
    </div>
  </div>
</div>

<div class="container">
    <div class="row"data-aos="fade-left"data-aos-duration="1500">
       
        <div class="col-sm-6 mt-5">
            <p style="text-align: justify;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque
                voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque
                voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque
                voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet
             
           
               .</p>
        </div>
        <div class="col-sm-6">
          <div class="card mt-5">
              <img src="../../assets/anna-earl-XBDHmIXvsvM-unsplash.jpg" alt="" style="height:28vh">
          </div>
      </div>

    </div>
   
</div> <!---activities ends--->



<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center mt-5 mb-3">TOURISM</h3>
    </div>
  </div>
</div>

<div class="container">
    <div class="row"data-aos="fade-right"data-aos-duration="1500">
       
        <div class="col-sm-6 mt-5">
            <p style="text-align: justify;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque
                voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque
                voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore asperiores cumque
                voluptates ipsa
                debitis. Magnam harum omnis, accusantium obcaecati ipsum dolorem ipsa unde fuga vel adipisci fugiat qui
                saepe veritatis.Lorem ipsum dolor sit amet
             
           
               .</p>
        </div>
        <div class="col-sm-6">
          <div class="card mt-5">
              <img src="../../assets/elizeu-dias-SEq9dyZSe6c-unsplash.jpg" alt="" style="height:28vh">
          </div>
      </div>

    </div>
   
</div>




</section>




