<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center mt-3">Edit Subject Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form>


                <mat-form-field class="example-full-width">
                  <mat-label>Serial Number</mat-label>
                  <input matInput placeholder="Enter Serial Number" type="number">
                </mat-form-field>


                <mat-form-field class="example-full-width">
                  <mat-label>Class Name</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let class   of classes" [value]="class.value">
                      {{class.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Section Name</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let section   of sections" [value]="section.value">
                        {{section.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker1">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Subject Name</mat-label>
                  <input matInput placeholder="Enter Subject Name" type="text">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Staff Name</mat-label>
                  <input matInput placeholder="Enter Staff Name" type="text">
                </mat-form-field>
                <button mat-raised-button color="primary" class="btn-block" style="outline:none;">Add Edited
                  Details</button>
              </form>
        </div>
    </div>
</div>